.navbar {
	margin-bottom: 0px;
	border: 0px solid transparent;
	border-radius: 0px;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs {
	background: #FFF;
	color:#666;
}

.sidebar {
	width:160px; float:left;
	margin-left: -15px;
}

.main {padding-left:180px;}

.sidebarmenu {
	height:80px;	
	border: 1px solid #ddd;
}

.rsText {
	font-size: 24px;
	padding:8px;
	opacity:0.8;
	color:#fff;
	background: #d00;
}

.rsText2 {
	font-size: 16px;
	padding:8px;
	opacity:0.8;
	color:#fff;
	background: #000;
}

.block {
	padding: 0px
}