<div class="royalSlider rsDefault" style="width:100%;">
    <!-- simple image slide -->
    <div class="rsContent">
        <a class="rsImg" href="images/1.jpg">image desc</a>
        <span class="rsABlock" style="top:30px;left:0px;" data-move-effect="none"><span class="rsText">just fade</span></span>
    </div>

    <!-- lazy loaded image slide -->
    <div class="rsContent">
        <a class="rsImg" href="images/2.jpg">image desc</a>
        <span class="rsABlock" style="top:30px;left:0px;" data-move-effect="right"><span class="rsText">from right ←</span></span>
    </div>

    <!-- image and content -->
    <div>
        <img class="rsImg" src="images/7.jpg" data-rsVideo="https://vimeo.com/50884782" />
        <span class="rsABlock" style="top:30px;left:0px;" data-move-effect="bottom"><span class="rsText">from bottom ↑</span></span>
    </div>

    <!-- HTML content -->
    <div class="rsContent">
        <a class="rsImg" href="images/2.jpg">image desc</a>
        <span class="rsABlock" style="top:30px;left:0px;"  data-move-effect="top" >
            <span class="rsText">from top  ↓</span>
        </span>

        <span class="rsABlock" style="top:80px;left:50px;" data-move-effect="bottom"><span class="rsText2">from Bottom ↑</span></span>
        <span class="rsABlock" style="top:120px;left:50px;" data-move-effect="right"><span class="rsText2">from right ←</span></span>

    </div>

    <!-- HTML content (100% with and height) -->
    <div class="rsContent">
        <a class="rsImg" href="images/3.jpg">image desc</a>
        <span class="rsABlock" style="top:30px;left:0px;" data-move-effect="right"><span class="rsText">from right ←</span></span>
    </div>
</div>  

<div class="row" ng-view>
    <!-- products list-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {

        $(".royalSlider").royalSlider({
            controlNavigation: 'none'
            , imageScaleMode: 'fill'
            , autoPlay: {
                enabled: true
                , pauseOnHover: true
                , delay: 5000
            }
            , imageScalePadding: 0
            , autoScaleSlider: true
            , autoScaleSliderWidth: 800
            , autoScaleSliderHeight: 250
            , loop: true
            , keyboardNavEnabled: true
        });  
    });
</script>