<div infinite-scroll='Reddit.nextPage()' infinite-scroll-disabled='Reddit.busy' infinite-scroll-distance='1'>
	<div class="col-sm-6 col-md-4" ng-repeat="product in Reddit.products">
		<div class="thumbnail">
			<img src="http://placehold.it/320x200" alt="...">
			<div class="caption">
				<h3 class="ng-binding">{{product.sku}}</h3>
				<br>
				<span>{{product.desc}}</span>
			</div>
			<div class="input-group" style="padding-left:50px;padding-right:50px;">
				<span class="input-group-addon">-</span>
				<input type="text" class="form-control" value="0">
				<span class="input-group-addon">+</span>
			</div>		
		</div>
	</div>
    <div ng-show='Reddit.busy'>Loading data...</div>
</div>


